{% extends 'base.html' %}
{% block content %}
<h2>Add New Goal</h2>
<form class="goal-form" method="post">
    <div class="form-group">
        <label for="description">Goal Description</label>
        <input type="text" id="description" name="description" required maxlength="200">
    </div>
    <div class="form-group date-group">
        <label for="target_date">Target Date</label>
        <div class="date-input-wrapper">
            <input type="date" id="target_date" name="target_date" required min="{{ today.strftime('%Y-%m-%d') }}"
                value="{{ today.strftime('%Y-%m-%d') }}">
        </div>
    </div>
    <button type="submit" class="submit-btn">Add Goal</button>
</form>
{% endblock %}